/* https://www.imi21.com/background-video-full-screen.php */

#videowrapper {
    overflow: hidden;
    position: absolute;
    left: 0%;
    right: 0%;
}

.video-container {
    z-index: -1;
}

#fullScreenDiv {
    min-height: 100%;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    background-color: gray;
    position: relative;
}

#video {
    width: 100vw;
    height: auto;
    margin: auto;
    display: block;
}

@media (min-aspect-ratio: 16/9) {
    #video {
        width: 100vw;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #video {
        height: 100vh;
        width: auto;
        margin-left: 50vw;
        transform: translate(-50%);
    }
}

#videoMessage {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    color: white;
    font-size: 2rem;
}

.video-container h1 {
    text-shadow: 5px 5px black;
}

.video-container p {
    text-shadow: 4px 4px black;
}

.video-container a {
    color: white;
    text-shadow: 4px 4px black;
    text-decoration: none;
    cursor: pointer;
}