.message {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.message img {
    width: 5.8rem;
    border-radius: 50%;
    border: 5px solid white
}

.message p {
    color: white;
    font-size: 1rem;
    text-align: left;
    margin-left: 2rem;
    text-shadow: 1px 1px rgb(0, 208, 101);
}

.message-container {
    background-color: rgb(17, 28, 34);
    display: flex;
    justify-content: space-between;

    padding: 1rem;

    text-decoration: none;

    border-bottom: 5px solid rgb(9, 14, 17);
    ;
    ;
}

#time-stamp {
    width: 5rem;
    color: white;
    text-shadow: 1px 1px rgb(0, 208, 101);
    font-size: 0.7rem;
}

#from {
    font-size: 0.8rem;
    color: rgb(0, 208, 101);
}

.message-container:hover {
    background-color: rgba(17, 28, 34, 0.95);
    text-decoration: none;
}