.message-details-container {
    background-color: rgb(17, 28, 34);
    margin: auto;
    padding: 0 50px 20px 50px;

    width: 80vw;
    margin-top: 70px;

    border-radius: 30px;
    border: 5px solid rgb(9, 14, 17);
    ;
    box-shadow: 0px 0px 15px white inset;
}

.message-details-container img {
    width: 5.8rem;
    border-radius: 50%;
    border: 5px solid rgb(0, 208, 101);
    margin-bottom: 10px;
}

.message-details-container p {
    color: rgb(0, 208, 101);
}

.subtitle {
    font-size: 0.8rem;
    text-shadow: 1px 1px white;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#top-section {
    display: flex;
}

hr {
    margin: 10px;
    width: 10px;
    height: 10px;
    background-color: rgb(255, 255, 255);
}