.message {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.message img {
    width: 5rem;
    border-radius: 50%;
}

.message p {
    color: white;
    font-size: 1rem;
    text-align: left;
    margin-left: 2rem;
}

.message-container {
    background-color: rgb(17, 28, 34);
    display: flex;
    justify-content: space-between;

    padding: 1rem;
}

#time-stamp {
    width: 4rem;
    color: white;
    font-size: 1rem;
}

.message-container:hover {
    background-color: rgba(17, 28, 34, 0.95);
    text-decoration: none;
}